.row .banner-text,
.row .banner-our-products {
  width: none !important;
}

.article_title,
.article_title:hover {
  color: #23d7de;
}

.banner h1 {
  display: inline-block;
}

.article_title {
  text-align: center;
  font: 100px/1 'Mensch Thin' !important;
  width: 100%;
  text-transform: uppercase;
  color: #ed6555;
  margin-top: -.459em;
  position: relative;
  top: 15%;
  text-shadow: 0px 0px 30px rgba(235, 191, 16, 0), 0px 0px 30px rgba(235, 191, 16, 0),
    1px 1px 0px #ed6555, 1px -1px 0px #ed6555;
  border-bottom: rgba(248, 247, 229, 0.3);
}

.article_title span {
  position: absolute;
  zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  z-index: 1;
}
.article_title:hover .char20,
.article_title:hover .char16 {
  text-shadow: 0px 0px 10px rgba(235, 191, 16, 1), 0px 0px 20px rgba(35, 215, 222, 1),
    0px 0px 30px rrgba(35, 215, 222, 1), 0px 0px 40px rgba(35, 215, 222, 1),
    0px 0px 50px rgba(35, 215, 222, 1);
  color: #23d7de;
}

.article_title:hover {
  text-shadow: none;
  color: #2b2a29;
}
.article_title {
  -webkit-transition: color 0.6s ease-out;
}
.article_title:hover span:after {
  opacity: 0.2;
}

.char1,
.char2,
.char3,
.char4,
.char5,
.char6,
.char7,
.char8,
.char9,
.char10,
.char11,
.char12,
.char13,
.char14,
.char15,
.char16,
.char17,
.char18,
.char19,
.char20,
.char21,
.char22,
.char23 {
  font-size: 7vw;
  display: inline-block;
}

.char1 {
  left: 1.38em;
  padding-left: 0.1em;
}
.char2 {
  left: 2.06em;
  padding-left: 0.1em;
}
.char3 {
  left: 3.45em;
  padding-left: 0.2em;
}
.char4 {
  left: 2.843em;
  padding-left: 0.1em;
}
.char5 {
  left: 3.385em;
  padding-left: 0.1em;
}
.char6 {
  left: 3.95em;
  padding-left: 0.1em;
}
.char7 {
  left: 4.55em;
  padding-left: 0.1em;
}
.char8 {
  left: 4.99em;
  padding-left: 0.1em;
}
.char9 {
  left: 5.46em;
  padding-left: 0.1em;
}
.char10 {
  left: 6.02em;
  padding-left: 0.1em;
}
.char11 {
  left: 6.02em;
  padding-left: 0.2em;
}
.char12 {
  left: 6.93em;
  padding-left: 2vw;
}
.char13 {
  left: 7.49em;
  padding-left: 0.1em;
}
.char14 {
  left: 8.09em;
  padding-left: 0.1em;
}
.char15 {
  left: 8.09em;
  padding-left: 0.2em;
}
.char16 {
  left: 8.99em;
  padding-left: 0.1em;
}
.char17 {
  left: 9.49em;
  padding-left: 0.1em;
}
.char18 {
  left: 10.19em;
  padding-left: 0.1em;
}
.char19 {
  left: 10.19em;
  padding-left: 0.2em;
}
.char20 {
  left: 11.13em;
  padding-left: 0.1em;
}
.char21 {
  left: 11.44em;
  padding-left: 0.1em;
}
.char22 {
  left: 11.94em;
  padding-left: 0.1em;
}
.char23 {
  left: 12.55em;
  padding-left: 0.1em;
}
